# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Directories

Debug/
Release/

#sth
Pulsip.opensdf
*.suo
*.user
*.ncb

# Other files
*.gch
