# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other files
*.gch


#Visual Studio
*.sdf
*.opensdf
*.vcxproj
*.vcxproj.filters
*.sln

#Directories
Release/*
Debug/*
build/*